<footer>
    <div class="ftr-info">
        <div class="ftr-info-socials">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-solid fa-paper-plane"></i>
        </div>
        <div class="ftr-info-name">&copy;Rahgeer-mushafir</div>
        <div class="ftr-info-links">
            <a href="/pivacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>