<% layout("/layouts/boilerplate")%>
  <body>
    <h3>All Listings</h3>
    <!-- <form method="GET" action="/list/new">
      <button> create new listing</button>
    </form> -->
    
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
      <% for(let lists of houseList){ %>
        <div class="card col">
          <img src="<%= lists.image.url %>" class="card-img-top" style="height:20rem" alt="img-house">
          <div class="card-body">
            <h5 class="card-title"><%= lists.title %></h5>
            <p class="card-text">&#8377;
              <%= lists.price.toLocaleString("en-IN") %>/night</a>
              </p>
          </div>
        </div>
        <% }%>
    </div>
  </body>
