<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SiteEjs</title>
  </head>
  <body>
    <h3>All Listings</h3>
    <form method="GET" action="/list/new">
      <button> create new listing</button>
    </form>
    <ul>
      <% for(let lists of houseList){ %>
      <li><a href="/list/<%= lists._id %>"/><%= lists.title %></li>
      <% }%>
    </ul>
  </body>
</html>
